@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::selection{
    color: black;
    background-color: #ffff;
}
::-webkit-scrollbar {
    width: 1.2em;
}
::-webkit-scrollbar-track{
    background: #FFFFFF;
    border-radius: 100vw;
    margin-block: .5em;
    margin-inline: 1em;
}
::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    border: .25em solid  #FFFFFF;
    background: #23074d;
}
::-webkit-scrollbar-thumb:hover{
    background: hsl(120 100% 10% / 1);
}

body{
    width: 100%;
    background: #111111;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
}
.cardContainer{
    width: 95%;
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.card{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.1rem;
    border-radius: 15px;
    gap: 1rem;
    border: 1px solid #FFFFFF;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    border-radius: 15px;
    /* border: 0.5 solid #ffff; */
}
.detailDiv{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.detailDiv img{
    width: 40%;
}

/* // CSS LOADER STYLING */

 @keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
   .one{
    background-color: #ADD8E6;
   }
   .two{
    background-color: #ADD8E6;
   }
   .three{
    background: #ADD8E6;
   }
   .four{
    background: #00008B;
   }
   .five{
    background-color: #00008B;
   }
   .six{
    background: #00008B;
   }
   .seven{
    background: #00008B
   }